services:
  mysql:
    image: mysql:latest
    container_name: db-air-space-mysql
    ports:
      - "3306:3306"
    environment:
      - MYSQL_USERNAME=thiago
      - MYSQL_PASSWORD=123
      - MYSQL_ROOT_PASSWORD=123
      - MYSQL_DATABASE=teste01

    restart: always
    networks:
      - local-network


networks:
  local-network:
    driver: bridge